.App {
  display: flex;
  flex-flow: column;
  height: stretch;
}

.App-header h1 {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 10px 20px 20px 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-room-content {
  display: flex;
  flex-flow: row;
  height: stretch;
}

.App-room-chat-area {
  width: 80%;
  height: stretch;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.availableChatRooms {
  background-color: lightgrey;
  width: 20%;
  height: stretch;
  margin-right: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

.availableChatRooms h3 {
  margin-top: 5px;
  text-align: center;
}

.newRoomForm {
  margin-top: 15px;
}

.availableRoomItem {
  margin-top: 3px;
  margin-bottom: 3px;
  cursor: pointer;
}

.activeRoom {
  background-color: lightblue;
}

.userLoginButtons {
  float: right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
