.App {
  display: flex;
  flex-flow: column;
  border: 1px solid black;
  height: stretch;
  width: stretch;
}

header {
  width: stretch;
}

header h3 {
  text-align: center;
}

.loginButtons {
  text-align: right;
  padding-right: 10px;
}

.App-room-content {
  width: stretch;
  height: stretch;
}

aside {
  background-color: rgba(158,158,158, .5);
  padding-left: 10px;
}

.mdl-button:hover {
  background-color: rgba(158,158,158,.5);
}
