.userList {
  margin-left: 20px;
}

.userList ul {
  list-style: none;
}

.userList li {
  font-size: 30px;
  vertical-align: middle;
  height: 100%;
}

.userList li span {
  font-size: 15px;
  height: 100%;
  vertical-align: middle;
}

.userList ul li::before {
  content: "\2022";
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.userList ul li.offline::before {
  color: red;
}

.userList ul li.online::before {
  color: green;
}
